<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: lightgrey;
            font-family: Verdana;
        }
    </style>
</head>
<body>

    <h1>{{alumno.2}}</h1>
    <p>Matricula: {{alumno.1}}</p>
    <p>Status: {{alumno.4}}</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nihil aliquam neque magni doloremque debitis blanditiis magnam mollitia, ducimus incidunt explicabo, provident consequatur cum dicta praesentium vero dolores ad aut.
</body>
</html>