<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">TIARD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('alumnos_Ver')}}">Alumnos</a>
                </li>              
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('profesores_Ver')}}">Profesores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('materias_Ver')}}">Materias</a>
                </li>
                
                {% set materias = listar_materias() %}
                {% if materias %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true">Materias</a>
                    <ul class="dropdown-menu" data-bs-popper="static">
                        {% for materia in materias %}
                        <li><a class="dropdown-item" href="{{url_for('ver_materia', id=materia[0])}}">{{materia[1]}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Grupos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Calificaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{current_user.username}}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>